{% extends "layout.html" %}

{% block body %}
<h2>Welcome</h2>

{% if current_user.is_authenticated %}
<p>You are authorized to access <a href="{{ url_for('secret') }}">the secret information</a>.
{% else %}
<p>This Web site contains secret information available only to authorized users.
Available usernames are <b>Olives</b>, <b>JB</b>, and <b>Creepy Miao</b>.
<hr>
<h3>Redirect</h3>
<br>
<li><a href="/foo">Go to Foo</a></li>
<li><a href="/bar">Go to Bar</a></li>
<br>

{% endif %}
{% endblock body %}
